<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GestionDesStagesSM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Policy="@GestionDesStagesSM.Shared.Policies.Policies.EstEntreprise">
            <Authorized>
                    <NavLink class="nav-link" href="stageedit_">
                <span class="oi oi-plus" aria-hidden="true"></span> Ajouter un stage
            </NavLink>
                    <NavLink class="nav-link" href="stageview">
                <span class="oi oi-plus" aria-hidden="true"></span> Tableau des stages
            </NavLink>
            </Authorized>
                    </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Policy="@GestionDesStagesSM.Shared.Policies.Policies.EstEtudiant">
                <Authorized>
                    <NavLink class="nav-link" href="stageview">
                        <span class="oi oi-plus" aria-hidden="true"></span> Tableau des stages
                    </NavLink>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="etudiantedit">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Mon profil
                        </NavLink>
                    </li>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
